@model IEnumerable<Blog.Entities.DTOs.Post.PostViewDTO>

@{
	ViewData["Title"] = "AllDrafts";
}

<h1>AllDrafts</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Text)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ViewsCounter)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LikeCounter)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DislikeCounter)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CreationData)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ModifiedDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CategoryId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UserId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LanguageId)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Text)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ViewsCounter)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LikeCounter)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DislikeCounter)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreationData)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ModifiedDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CategoryId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UserId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LanguageId)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
					@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
					@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
				</td>
			</tr>
		}
	</tbody>
</table>
