@model Blog.Entities.DTOs.Post.PostViewDTO

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header card-header-info">
						<h5 class="card-category">@Model.CategoryViewDTO.Name</h5>

						<h4 class="card-title "><b>@Model.Title</b></h4>
					</div>

					<div class="card-body">
						<div class="row mt-3 mb-2">
							<div class="col-md-12">
								<div class="form-group">
									<label class="bmd-label-floating">Description</label>
									<p>@Model.Description</p>
								</div>
							</div>
						</div>

						<div class="row mt-3 mb-2">
							<div class="col-md-12">
								<div class="form-group">
									<label class="bmd-label-floating">Post text here</label>
									@Html.Raw(Model.Text)
								</div>
							</div>
						</div>

						<div class="container text-center">
							@foreach (var image in Model.PictureViewDTOs)
							{
								<div class="row">
									<div class="col">
										<img class="img-fluid rounded m-3" src="~/Files/Images/@image.Name" />
									</div>
								</div>
							}
						</div>
					</div>

					<div class="card-footer p-2 text-muted">
						<div class="container-fluid">
							<div class="row align-items-center">
								<div class="col w-100 ml-5">
									<div class="row justify-content-center">
										<div class="col">
											<a>@Model.UserViewDto.UserName</a>
										</div>
									</div>

									<div class="row">
										<div class="col">
											<small>
												Cteation data: @Model.Created
											</small>
										</div>
									</div>
								</div>

								<div class="col w-100">
									<span class="m-4">
										<i class="material-icons">visibility</i>
										1
									</span>

									<span class="m-4">
										<i class="material-icons">thumb_up_alt</i>
										1
									</span>

									<span class="m-4">
										<i class="material-icons">thumb_down_alt</i>
										1
									</span>
								</div>
							</div>
						</div>
					</div>

					@if (Model.CommentViewDTOs != null)
					{
						<div class="row">
							<div class="col">
								<div class="container">
									@foreach (var comment in Model.CommentViewDTOs)
									{
										<div class="row">
											<div class="col">
												<div class="card card-profile text-white p-3 m-3" style="box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);">
													<div class="card-body">
														<div class="row">
															<div class="col text-left">
																<p class="text-white">@comment.Text</p>
															</div>
														</div>
													</div>

													<div class="row">
														<div class="col text-left ml-5">
															<a asp-action="ListOfPostsForUser" asp-controller="Post" asp-route-id="@comment.UserId">
																@comment.UserViewDto.UserName
															</a>
														</div>

														<div class="col text-right">
															Created: @comment.Created
														</div>
													</div>
												</div>
											</div>
										</div>
									}
								</div>
							</div>
						</div>
					}

					@if (Model.CommentingPermission)
					{
						<div class="row">
							<div class="col">
								@await Html.PartialAsync("~/Views/Comment/CreateComment.cshtml", new Blog.Entities.DTOs.Comment.CommentCreateDTO { PostId = Model.Id })
							</div>
						</div>
					}

				</div>
			</div>
		</div>
	</div>
</div>