@model Abbott.Entities.Dtos.Account.UserUpdateDto

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="~/css/common.css" rel="stylesheet" />*@

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header card-header-warning">
						<h4 class="card-title">Edit Profile</h4>
						<p class="card-category">Complete your profile</p>
					</div>
					<div class="card-body">
						<form asp-action="Update" asp-controller="Account" asp-route-id="@Model.Id" enctype="multipart/form-data">
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<label class="bmd-label-floating">Username</label>
										<input type="text" class="form-control" asp-for="UserName">
										<span asp-validation-for="UserName"></span>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="bmd-label-floating">Email address</label>
										<input type="email" class="form-control" asp-for="Email">
										<span asp-validation-for="Email"></span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label class="bmd-label-floating">Instagram</label>
										<input type="text" class="form-control" asp-for="InstagramLink">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="bmd-label-floating">Youtube</label>
										<input type="text" class="form-control" asp-for="YoutubeLink">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="bmd-label-floating">Facebook</label>
										<input type="text" class="form-control" asp-for="FacebookLink">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="bmd-label-floating">LinkedIn</label>
										<input type="text" class="form-control" asp-for="LinkedInLink">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="bmd-label-floating">Twitter</label>
										<input type="text" class="form-control" asp-for="TwitterLink">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">

									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text text-warning" id="inputGroupFileAddon01">New avatar</span>
										</div>
										<div class="custom-file">
											<input type="file" asp-for="Avatar" value="New avatar" id="avatar"
												   aria-describedby="inputGroupFileAddon01" />
										</div>
									</div>
								</div>
							</div>
							@if (User.IsInRole("SuperAdmin"))
							{
								<div class="form-group">
									<div class="row">
										<div class="col-2">
											<label class="control-label">Доступні ролі</label>
										</div>
										<div class="col">
											@foreach (var role in Model.AllRoles)
											{
												<div class="form-check d-inline-block mr-5">
													<label class="form-check-label">
														<input class="form-check-input" name="roles" type="checkbox" value="@role.Name" onclick="onlyOne(this)"
															   @(Model.RolesInCurrentUser.Contains(role.Name) ? "checked=\"checked\"" : "")>@role.Name
															<span class="form-check-sign">
																<span class="check"></span>
															</span>
														</label>
													</div>
												}
										</div>
									</div>
								</div>
							}
							<button type="submit" class="btn btn-warning pull-right">Update Profile</button>
							<div class="clearfix"></div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-profile">
					<div class="card-avatar">
						@if (Model.AvatarViewDTO != null)
						{
							<img class="img" src="~/Files/Avatars/@Model.AvatarViewDTO.PictureName" />
						}
						else
						{
							<img class="img" src="~/assets/img/faces/marc.jpg" />
						}
					</div>
					<div class="card-body">
						<h6 class="card-title">@Model.UserName</h6>
						<h4 class="card-category">@Model.Email</h4>
						<h4 class="card-category">
							@foreach (var role in Model.RolesInCurrentUser)
							{
								@role
							}
						</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				@await Html.PartialAsync("ChangePassword", new Blog.Entities.DTOs.Account.UserChangePasswordDto())
			</div>
		</div>
	</div>
</div>

<script>
	function onlyOne(checkbox) {
		var checkboxes = document.getElementsByName('roles')
		checkboxes.forEach((item) => {
			if (item !== checkbox) item.checked = false
		})
	}
</script>