@model IEnumerable<Blog.Entities.DTOs.Category.CategoryViewDTO>

@{
    ViewData["Title"] = "ViewAllCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewAllCategories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

<div class="form-group">
    <div class="col-md-5">
        @Html.DropDownList("Categories", Model.Select(m => new SelectListItem() { Text = m.CategoryName, Value = m.CategoryName }).ToList(), "Select")
    </div>
    </div>
