@model IEnumerable<Blog.Entities.DTOs.Account.UserViewDto>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/userCard.css" rel="stylesheet" />
<link href="~/css/social.css" rel="stylesheet" />

<div class="card-columns">
	@foreach (var item in Model)
	{

		<div class="card card-chart mt-5 mr-5" style="width: 500px;">
			<div class="card-header card-header-warning card-header-icon">
				<div class="row" style="height: 10em;">
					<div class="col-4">
						<div class="row">
							<div class="col">
								<div class="card-profile ">
									<div class="card-avatar">
										@if (item.AvatarViewDTO != null)
										{
											<img class="img" src="~/Files/Avatars/@item.AvatarViewDTO.Name" />
										}
										else
										{
											<img class="img" src="~/assets/img/faces/marc.jpg" />
										}
									</div>
								</div>
							</div>
						</div>
						<div class="row mt-2 text-center control-buttons ">
							<div class="col text-center">
								<a asp-action="Update" asp-controller="Account" asp-route-id="@item.Id">
									<img src="~/assets/img/edit-white-24dp.svg" />
								</a>
							</div>
							<div class="col text-center">
								<form asp-action="DeleteUser" asp-controller="Admin" asp-route-id="@item.Id" onsubmit=" return jQueryAjaxDelete(this);">
									<div class="ed-del-buttons">
										<button type="submit">
											<img src="~/assets/img/delete-white-24dp.svg" />
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body">
				<h4 class="card-title">
					User name:
					<small>@item.UserName</small>
				</h4>
				<h4 class="card-title">
					Email:
					<small>@item.Email</small>
				</h4>
				<h4 class="card-title">
					Role:
					<small>@item.RoleName</small>
				</h4>
			</div>
			<div class="card-footer justify-content-center">
				<div class="row mb-3" style="height: 3em;">
					<div class="col">
						<div class="social">
							<ul>
								@if (item.FacebookLink != null)
								{
									<li><a href="@item.FacebookLink.ToString()"><i class="fa fa-lg fa-facebook"></i></a></li>
								}

								@if (item.TwitterLink != null)
								{
									<li><a href="@item.TwitterLink.ToString()"><i class="fa fa-lg fa-twitter"></i></a></li>

								}

								@if (item.LinkedInLink != null)
								{
									<li><a href="@item.LinkedInLink.ToString()"><i class="fa fa-lg fa-linkedin"></i></a></li>
								}

								@if (item.InstagramLink != null)
								{
									<li><a href="@item.InstagramLink.ToString()"><i class="fa fa-lg fa-instagram"></i></a></li>
								}

								@if (item.YoutubeLink != null)
								{
									<li><a href="@item.YoutubeLink.ToString()"><i class="fa fa-lg fa-youtube"></i></a></li>
								}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>

<script src="~/assets/js/core/jquery.min.js"></script>
<script src="~/js/site.js"></script>