@model IEnumerable<Blog.Entities.DTOs.Post.PostViewDTO>

<div class="content">
	<div class="container-fluid">
		@foreach (var post in Model)
		{
			<div class="row">
				<div class="col-12">
					<div class="card">

						<div class="card-header card-header-warning">
							<div class="row">
								<div class="col">
									<h5 class="card-category">@post.CategoryViewDTO.CategoryName</h5>
									<a asp-action="PostDetails" asp-controller="Post" asp-route-id="@post.Id">
										<h4 class="card-title "><b>@post.Title</b></h4>
									</a>
								</div>
								<div class="col-1">
									<form asp-action="Unarchive" asp-controller="Post" asp-route-id="@post.Id" method="post">
										<button type="submit" style="border: none; background: none;"
												data-toggle="tooltip" data-placement="top" title="Unarchive">
											<img src="~/assets/img/unarchive-white-18dp.svg" />
										</button>
									</form>
								</div>
								<div class="col-1">
									<form asp-action="DeletePost" asp-controller="Post" asp-route-id="@post.Id" method="post">
										<button type="submit" style="border: none; background: none;"
												data-toggle="tooltip" data-placement="top" title="Delete">
											<img src="~/assets/img/delete_forever-white-18dp.svg" />
										</button>
									</form>
								</div>
							</div>
						</div>

						<div class="card-body ">
							<a asp-action="PostDetails" asp-controller="Post" asp-route-id="@post.Id">
								<span class="text-white">@post.Description</span>
							</a>
						</div>

						<div class="card-footer p-2 text-muted">
							<div class="container-fluid">
								<div class="row align-items-center">
									<div class="col w-100 ml-5">
										<div class="row justify-content-center">
											<div class="col">
												<a>@post.UserViewDto.UserName</a>
											</div>
										</div>
										<div class="row">
											<div class="col">
												<small>
													Cteation data: @post.CreationData
												</small>
											</div>
										</div>

									</div>

									<div class="col w-100">
										<span class="m-4">
											<i class="material-icons">visibility</i>
											1
										</span>

										<span class="m-4">
											<i class="material-icons">thumb_up_alt</i>
											1
										</span>

										<span class="m-4">
											<i class="material-icons">thumb_down_alt</i>
											1
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>